@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

font = 'Open Sans', sans-serif
html 
    height: 100%;

body
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7f00+0,ffbb00+100 */
    background #ff7f00 /* Old browsers */
    background -moz-linear-gradient(top,  #ff7f00 0%, #ffbb00 100%) /* FF3.6-15 */
    background -webkit-linear-gradient(top,  #ff7f00 0%,#ffbb00 100%) /* Chrome10-25,Safari5.1-6 */
    background linear-gradient(to bottom,  #ff7f00 0%,#ffbb00 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-repeat no-repeat
    background-size cover
    background-position inherit
    font-family font
    height 100%
    margin 0
    background-attachment fixed

.hr
    color #fff
    border 0.5px solid
    opacity 0.9

@media (min-width: 576px)
    body
        height 100vh
    .hr
        width 600px